// app global css in SCSS form
@import './quasar.variables.scss';

.gin-quasar-admin-logo {
    cursor: pointer;
    user-select: none;

    img {
        transform: rotate(0deg);
        transition: transform 1s ease-in-out;
    }

    &:hover img {
        transform: rotate(-360deg);
    }
}

.gin-quasar-admin-init-db-page {
    height: 100vh;
    background: linear-gradient(60deg, $primary 0%, $positive 100%);
    overflow: hidden;
}

.gin-quasar-admin-banner {
    height: 93vh;
    background: linear-gradient(60deg, $primary 0%, $positive 100%);
    overflow: hidden;
}

.q-tab,
.q-btn {
    text-transform: none;
}

.gqa-form {
    & .q-field {
        &__bottom--animated {
            left: -5px;
            bottom: 15px !important;
            z-index: 10;

            & .q-field__messages {
                & div {
                    width: max-content;
                    border-radius: 5px;
                    background: $negative;
                    color: #fff;
                    padding: 5px;
                }
            }
        }
    }
}

.bio-data-table {
    table {
        width: 100%;
        border-collapse: collapse;
        thead {
            td {
                font-size: 1.2em;
                font-weight: bold;
                padding: 5px;
            }
        }
        td {
            padding: 5px;
            border-bottom: silver 1px solid;
        }
        tbody {
            tr {
                padding: 5px;
                border-bottom: solid silver 1px;
                &:hover {
                    td {
                        background-color: rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }
    }
}
.popup-selector {
    width: 80vw;
    max-width: 80vw;
    max-height: 90vh;
    .popup-content {
        display: flex;
        flex-direction: column;
        max-height: 80vh;
        .popup-content-header {
            height: 50px;
        }
        .popup-content-table-container {
            margin: 10px;
            flex: 1 1 auto;
            overflow-y: scroll;
            overflow-x: hidden;
            .popup-content-table-head {
                background-color: white;
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
        .popup-content-single-footer {
            height: 130px;
            min-height: 130px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .popup-content-multi-footer {
            height: 130px;
            min-height: 130px;
            overflow-y: scroll;
            overflow-x: hidden;
            .popup-content-multi-footer-selected-sticky {
                position: sticky;
                top: 0;
                background-color: white;
            }
            .popup-content-multi-footer-selected-container {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
